---
language: node_js
node_js:
  - "6"

sudo: false

cache:
  directories:
    - node_modules

env:
  - EMBER_TRY_SCENARIO=default
  - EMBER_TRY_SCENARIO=ember-release
  - EMBER_TRY_SCENARIO=ember-beta
  - EMBER_TRY_SCENARIO=ember-canary

matrix:
  fast_finish: true
  allow_failures:
    - env: EMBER_TRY_SCENARIO=ember-canary

before_install:
  - npm install -g phantomjs-prebuilt@2
  - npm install -g bower

install:
  - npm install
  - bower install

script:
  - ember try:one $EMBER_TRY_SCENARIO --- ember test
